<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{%block title%}
	<title>Admin</title>
	{%endblock%}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
	{#    <link href="/admin/static/css/base.css" type="text/css" rel="stylesheet">#}

	{%block cssfile%}
	{%endblock%}
</head>
<body>
	<div class="d-flex">
        <div id="sidebar-container" class="bg-primary">
          <div class="logo">
            <h4 class = "text-light font-weight-bold">Admin</h4>
          </div>
          <div class="menu">
            <a href="{{url_for('admin.dashboard')}}" class="d-block text-light p-3"><i class="bi bi-body-text mr-2 lead"></i> Dashboard</a>
            <a href="{{url_for('admin.quan_ly_nhan_vien')}}" class="d-block text-light p-3"><i class="bi bi-people-fill mr-2 lead"></i> Quản lý nhân viên</a>
            <a href="{{url_for('admin.update_nhan_vien')}}" class="d-block text-light p-3"><i class="bi bi-person-fill-add mr-2 lead"></i> Update nhân viên</a>
            <a href="#" class="d-block text-light p-3"><i class="bi bi-database-fill mr-2 lead"></i> Quản lý dữ liệu</a>
            <a href="#" class="d-block text-light p-3"><i class="bi bi-database-fill-add mr-2 lead"></i></i> Cập nhật dữ liệu</a>
          </div>
        </div>

        <div class="w-100">
          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </li>
                </ul>
              </div>
              <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item" style="padding-right: 25px;">
                    <i class="bi bi-envelope"></i>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false" style="padding-top: 0; padding-right: 20px;">
                        <i class="bi bi-person-circle"></i> Admin
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Thông tin</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{url_for('logout')}}">Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
            </div>
          </nav>
        </div>
      </div>

	<!-- <img src="{{url_for('admin.static', filename = 'pictures/admin-banner.png')}}" alt="Banner">
	<h1>Admin base</h1>
	<nav>
		<p>Làm thanh bar công cụ ở đây</p>
		<ul>
			<!-- {%if g.user%}
			<p>Tài Khoản: {{g.user.User.username}} </p>
			<p>ID: {{ g.user.User.id }}</p>
			<p>Trạng thái đăng nhập thành công</p> -->
			<!-- <li><a href="{{url_for('logout')}}">Đăng xuất</a></li>
			{%endif%}
		</ul>
		<ul>
			<li><a href="{{url_for('index')}}"> Trang chủ</a></li>
			<li><a href="{{url_for('admin.dashboard')}}"> Dashboard</a></li>
		</ul>
	</nav> --> -->

	<h1>This is admin base html</h1>

	{%block content%}
	{%endblock%}
	<footer>
		<p>Footer ở chỗ này</p>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>