{%extends "admin/base.html"%}

<!-- {%block title%}
<title> dashboard </title>
{%endblock%} -->
{%block cssfile%}

{%endblock%}

{%block content%}
<h3>
	Test
	<p>
		{% if g.user %}
		{% with u = g.user %}
	<p> {{ u.User.id }}</p>
	<p>{{ u.User.username }}</p>
	<p>{{ u.User.password }}</p>
	{%endwith%}
	{%endif%}
	</p>
	End test
</h3>

<h3>
	Test:
	<p>endtest</p>
</h3>

<!-- <a href="{{url_for('admin.quan_ly_nhan_vien')}}">Quản lý nhân viên</a></li>
<a href="{{url_for('admin.update_nhan_vien')}}">Update Nhân Viên</a></li>
<a href="">Thêm data</a></li>
<a href="">Update data</a></li> -->

{%endblock%}