

{% block edit_button %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
        Edit
    </button>
    {%block head%}
    <style>
        table tr:not(:first-child){
            cursor: pointer;transition: all .25s ease-in-out;
        }
        table tr:not(:first-child):hover{background-color: #ddd;}
    </style>
    {%endblock%}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Sửa nhân viên</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ID:<input type="text" name="id" id="id"><br><br>    
                Username:<input type="text" name="username" id="username"><br><br>
                Email:<input type="text" name="email" id="email"><br><br>
                <!-- <button onclick="editRow();">Edit Row</button><br><br> -->
                <script> 
                
                    // get selected row
                    // display selected row data in text input
                    
                    var table = document.getElementById("data"),rIndex;
                    
                    for(var i = 1; i < table.rows.length; i++)
                    {
                        table.rows[i].onclick = function()
                        {
                            rIndex = this.rowIndex;
                            console.log(rIndex);
                            
                            document.getElementById("id").value = this.cells[0].innerHTML;
                            document.getElementById("username").value = this.cells[1].innerHTML;
                            document.getElementById("email").value = this.cells[2].innerHTML;
                        };
                    }
                    
                    
                     // edit the row
                    function editRow()
                    {
                        table.rows[rIndex].cells[0].innerHTML = document.getElementById("id").value;
                        table.rows[rIndex].cells[1].innerHTML = document.getElementById("username").value;
                        table.rows[rIndex].cells[2].innerHTML = document.getElementById("email").value;
                    }
                    
                </script>  
            </div>
            <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" class="btn-close" onclick="editRow();">Save changes</button>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
