{% extends 'admin/base.html' %}
{% block script %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
{% endblock %}

{%block cssfile%}
    <link href="/admin/static/css/table.css" rel="stylesheet">
{%endblock%}

{% block content %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>


    {% for mess in get_flashed_messages() %}
        <div class="flash">flash messeger : {{ mess }}</div>
    {% endfor %}
    <button><a id="addbtn">ADD</a></button>

    <table id="data">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Email</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.User.id }} </td>
                <td>{{ user.User.username }}</td>
                <td>{{ user.User.email }}</td>
                <td><button><a id="editbtn">edit</a></button>
                    <button><a id="deletebtn">delete</a></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                columns: [
                    {orderable: true, searchable: true},
                    {searchable: true},
                    {orderable: false, searchable: false},
                    {orderable: false, searchable: false},
                ],
            });
        });
    </script>

    <p> bên dưới là update basic (OLD) </p>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username() }}
        {{ form.userid.label }} {{ form.userid() }}
        {{ form.email.label }} {{ form.email() }}
        {{ form.submit() }}
    </form>
{% endblock %}