{% extends 'admin/base.html' %}
{% block script %}
    <link rel="stylesheet" type="text/css" href="/user/static/css/bootstrapTable.css">
{% endblock %}

{%block cssfile%}
    <link href="/user/static/css/table.css" rel="stylesheet">
{%endblock%}

{% block content %}



    {% for mess in get_flashed_messages() %}
        <div class="flash">flash messeger : {{ mess }}</div>
    {% endfor %}




    <script>
        $(document).ready(function () {
            $('#data').DataTable({
                columns: [
                    {orderable: true, searchable: true},
                    {searchable: true},
                    {orderable: false, searchable: false},
                    {orderable: false, searchable: false},
                ],
            });
        });
    </script>
{% endblock %}