<div class="add-buton">
	<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
		Edit
	</button>

	<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Sửa thông tin</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<form action = "" method="POST">
					{{ form.hidden_tag() }}
					{{ form.id.label }} {{ form.id() }}
					{{ form.username.label }} {{ form.username() }}
					{{ form.email.label }} {{ form.email() }}
					{{ form.password.label }} {{ form.password() }}
					{{ form.submit() }}
				</form>
			</div>
		</div>
	</div>
</div>