<!-- The purpose of this html is been used in admin/manage -->
<link href="/user/static/css/data.css" rel="stylesheet">

<div class="row g-0 text-center">
	<div class="col-2 col-md-3 border border-2 bg-light">
		<form method="POST" autocomplete="off" class="wellname">
			<label for="getwellname">Nhập tên giếng</label>
			<input type="text" name="name" id="getwellname" list="wells">
			{%if listTable%}
				<datalist id="wells"> 
					{%for i in listTable%}<option>{{i}}</option>{%endfor%}
				</datalist>
			{%endif%}  
			<input type="submit"/>
		</form>
	
		<form method="POST" autocomplete="off" class="wellname1">
		<p>
			<input type="checkbox" name="all" id ='all'>
			<label for="all">Show all</label>
		</p>
		</form>
	</div>
	<div class="col-sm-7 col-md-9 border border-2 bg-light">
		{% for mess in get_flashed_messages() %}
	<div class="flash">flash messeger : {{ mess }}</div>
	{% endfor %}

    
    {%if datas%}
    {%set max = datas|max%}
    {%set min = datas|min%}
   

	<form method="POST" autocomplete="off">
		Top <input type="text" name="start" placeholder=">= {{min.DEPT}}" value="{{min.DEPT}}"/>
		Base <input type="text" name="stop" placeholder="<= {{max.DEPT}}" value="{{max.DEPT}}"/>
		<br>
		{%if listkey%}
		{% for i in listkey %}
		<input type="checkbox" name="{{i}}" id="{{i}}"/>
		<label for="{{i}}">{{i}}</label>
		{%endfor%}
		{%endif%}
		<input type="submit"/>
	</form>

	<table id="data">
		<thead>
			<tr>
				{%for header in listkey %}
				<th>{{header}}</th>
				{%endfor%}
			</tr>
		</thead>
		<tbody>
			{%for data in datas %}
			<tr>
				{%for header in listkey %}
				<td>{{data[header]}}</td>
				{%endfor%}
			</tr>
		{%endfor%}
		</tbody>
	</table>

	<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" charset="utf8"
			src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>	
	<script type="text/javascript" charset="utf8"src="/user/static/js/bootstrapTable.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    
    <script>
        $(document).ready(function() {
        $('#data').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
    </script>

	{%endif%}
	</div>
</div>