{% if g.user.User.role == "user" %}
	<a href="{{url_for('user.dashboard')}}" type="button"class="btn btn-close btn-close"></a>
{% elif g.user.User.role in ['review', 'data']%}
	<a href="{{url_for('datamanager.dashboard')}}" type="button"class="btn btn-close btn-close-white"></a>
{% else %}
	<a href="{{url_for('admin.dashboard')}}" type="button"class="btn btn-close btn-close"></a>
{% endif %}

{%if df%}
	{{df|safe}}
{%endif%}

<style>
	a{
		background-color: black;
		float: right;
		width: 50px;
		height: 50px;
	}
</style>