{% extends 'user/base.html' %}

{% block list_of_wells %}
    {%if listTable%}
        {%for i in listTable%}
            <datalist id="well_list">
                <option>{{i}}</option>
            </datalist>
        {%endfor%}
    {%endif%}  
<input type="text" list="well_list"> 

{% endblock %}

{% block content %}
    <link href="/user/static/css/table.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/user/static/css/bootstrapTable.css">

    {% if datas %}

        <form method="POST">
            <p>
                <input type="submit" value="Toàn bộ bảng" name="all">
                <input type="submit" value="Lưu file csv" name="save">
            </p>

            <input type="text" name="start" placeholder="start"/>
            <input type="text" name="stop" placeholder="stop"/>
            <br>
            {% for i in listkey %}
                <input type="checkbox" name="{{ i }}" id="{{ i }}"/>
                <label for="{{ i }}">{{ i }}</label>
            {% endfor %}
            <input type="submit"/>
        </form>

        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8"
                src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8"
                src="/user/static/js/bootstrapTable.js"></script>
        <table id="data">
            {% for data in datas %}
                <tr>
                    <td>{{ data.DEPT }}</td>
                    <td>{{ data.PERM }}</td>
                    <td>{{ data.GAMMA }}</td>
                    <td>{{ data.POROSITY }}</td>
                    <td>{{ data.FLUVIALFACIES }}</td>
                    <td>{{ data.NETGROSS }}</td>
                </tr>
            {% endfor %}
        </table>
        <script>
            $(document).ready(function () {
                $('#data').DataTable({
                    columns: [
                        {orderable: true, searchable: true},
                        {orderable: false, searchable: false},
                        {orderable: false, searchable: false},
                        {orderable: false, searchable: false},
                        {orderable: false, searchable: false},
                        {orderable: false, searchable: false},
                    ],
                });
            });
        </script>
    {% endif %}

{% endblock %}