{% extends 'user/base.html' %}

{%block content%}

{% if datas %}

<form action="POST">
	<input type="text" placeholder="start">
	<input type="text" placeholder="end">
</form>

<table>
	{% set x = datas[0] %}
	<h3>test : {{x.__dict__.keys()}}</h3>
	{% for i in x.__dict__.keys() %}
	<h4>{{x[i]}}</h4>
	{%endfor%}
	{% for data in datas %}
	<tr>
		<td>{{data.DEPT}}</td>
		<td>{{data.PERM}}</td>
		<td>{{data.GAMMA}}</td>
		<td>{{data.POROSITY}}</td>
		<td>{{data.FLUVIALFACIES}}</td>
		<td>{{data.NETGROSS}}</td>
	</tr>
	{% endfor %}
</table>
{%endif%}

{%endblock%}