{% extends 'user/base.html' %}

{% block list_of_wells %}
    {%if listTable%}
        <script>   
            $(function() {
                var $select = $('.select2');
                $select.select2({
                theme: 'paper'
                });
            });
        </script>
        <select class="select2 form-control" aria-placeholder="well">
            {%for i in listTable%}<option>{{i}}</option>{%endfor%}
        </select>
    {%endif%}  
{% endblock %}

{% block content %}
    <link href="/user/static/css/table.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/user/static/css/bootstrapTable.css">

    {% if datas %}
        <form method="POST">
            <p  class="button-style">
                <input class="button" type="submit" value="Toàn bộ bảng" name="all">
                <input class="button" type="submit" value="Lưu file csv" name="save">
            </p>

            <p>Tìm kiếm: <input style="margin-left: 5px; margin-right: 7px;" type="text" name="start" placeholder="Bắt đầu"/> <input type="text" name="stop" placeholder="Kết thúc"/><input style="margin-left: 15px;" type="submit"/><p>
            
            {% for i in listkey %}
                <input type="checkbox" name="{{ i }}" id="{{ i }}"/>
                <label for="{{ i }}">{{ i }}</label>
            {% endfor %}
            
        </form>

        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8"
                src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf8"
                src="/user/static/js/bootstrapTable.js"></script>
                <table id="data">
                    <thead>
                        <tr>
                            <td>DEPT</td>
                            <td>PERM</td>
                            <td>GAMMA</td>
                            <td>POROSITY</td>
                            <td>FLUVIALFACIES</td>
                            <td>NETGROSS</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in datas %}
                        <tr>
                            <td>{{ data.DEPT }}</td>
                            <td>{{ data.PERM }}</td>
                            <td>{{ data.GAMMA }}</td>
                            <td>{{ data.POROSITY }}</td>
                            <td>{{ data.FLUVIALFACIES }}</td>
                            <td>{{ data.NETGROSS }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                    var table = $('#data').DataTable();
                 
                    $('#data tbody').on('click', 'tr', function () {
                        var data = table.row(this).data();
                        alert('You clicked on ' + data[0] + "'s row");
                    });
                });
                </script>

    {% endif %}

{% endblock %}