{%for mess in get_flashed_messages()%}
<div class="flash">{{mess}}</div>
{%endfor%}


<form method="POST", enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{{ form.fileup.lable }} {{ form.fileup()}} 
	{{ form.submit_upload() }}
</form>
<br>

<!-- <h2>UPLOADING FILES</h2> -->

{%if sendfiles%}
<h2>UPLOADING FILES</h2>
	<table id="upload" style="position: fixed; width:80%; height:100%;">
		{%for data in sendfiles%}
			<tr id="upload">
				<td id="upload">{{data.uploader}}</td>
				<td id="upload">{{data.reviewer}}</td>
				<td id="upload">{{data.wellid}}</td>
				<td id="upload">{{data.status}}</td>
				<td id="upload"><form method="POST">
					{%if g.user.User.role in ['admin','data','review']%}
					<input type="checkbox" name="all" id ='all'>
					<label for="all">reject</label>

					<input type="checkbox" name="accept" id ='accept'>
					<label for="all">accept</label>

					<input type="checkbox" name="todb" id ='todb'>
					<label for="all">to database</label>
					<input type="submit">
					{%endif%}
				</form></td>
			</tr>
		{%endfor%}
	</table>
{%endif%}

{%if hist%}
<h2>HISTORY</h2>
	<table id="history" style="position: fixed; width:80%; height:100%;">
		{%for data in hist%}
			<tr id="history">
				<td id="history">{{data.uploader}}</td>
				<td id="history">{{data.reviewer}}</td>
				<td id="history">{{data.wellid}}</td>
				<td id="history">{{data.status}}</td>
			</tr>
		{%endfor%}
	</table>
{%endif%}