body{
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-item .nav-link { 
    color: rgb(255, 255, 255);
}

a.nav-link:hover{
    color: gray;
}

a.nav-link.dropdown-toggle{
    padding-top: 8px;
}

main {
    padding: 10px;
    /* overflow-x: auto; */
    position: static;
    grid-area: main;
    /* border: 1px solid black; */
}
