body{
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    /* overflow: scroll; */
}


nav {
    border-bottom: opx;
    background-color: #002f96;
    color: rgb(255, 255, 255);
}

.nav-item .nav-link { 
    color: rgb(255, 255, 255);
}

a.nav-link.dropdown-toggle{
    padding-top: 8px;
}

i.bi.bi-envelope{
    size: 200%;
}
main {
    overflow: scroll;
    position: static;
    margin-top: 10px;
    padding: 1%;
    grid-area: main;
    background: #f1f1f1;
}

.left {
    padding: 20px;
    grid-area: left;
    margin: 10px 10px 0 10px;
    background: #f1f1f1;
}

/* .right {
    grid-area: right;
    margin: 10px 10px 0 10px;
    background: #f1f1f1;
} */

@media screen and (max-height: 450px){}

.flash {
    text-align: center;
    box-sizing: border-box;
    background:mediumseagreen;
    width: 400px;
    justify-items: center;
    border-radius: 20px;
    margin-left: 35%;
}

#data {
    border-collapse: collapse;
    width: 100%;
}

#data td, #data th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #002f96;
    color: white;
    text-align: center;
}
.row1 {
    display: grid;
    grid-template-columns: auto auto;
}
/* .row2{
    display: grid;
    grid-template-columns: auto;
} */

.row3{
    display: grid;
    grid-template-columns: auto auto;
}

.pagination{
    padding-top: 0;
    list-style-type: none;
    display: flex;
    margin-top: 0;

}
.pagination a{
    padding-left: 0;
    margin: 0 10px ;
    display: flex;
    text-decoration: none;
    list-style-type: none;
}
.button-style{
    float: right;
}
.button{
    border-style: none;
    padding: 7px 6px;
    font-size: 90%;
    background-color: #002f96;
    color:rgb(255, 255, 255);
    border-radius: 7px;
}

table#data tr:nth-child(even) {
    background-color: #DDEBF7;
}
table#data tr:nth-child(odd) {
    background-color:#BDD7EE;
}
table#data th {
    background-color: #002f96;
    color: white;
}


