{%for mess in get_flashed_messages()%}
<div class="flash">{{mess}}</div>
{%endfor%}



{%if recives%}
<h3>RECIVE FILES</h3>
	<table id = "recieve-file">
		{%for data in recives%}
			<tr id="receive">
				<td id="receive">{{data.uploader}}</td>
				<td id="receive">{{data.reviewer}}</td>
				<td id="receive">{{data.wellid}}</td>
				<td id="receive">{{data.status}}</td>
				<td id="receive"><form method="POST">
					<input type="radio" name="all" id ='all' value="reject"> reject

					<input type="radio" name="accept" id ='accept' value="accept"> accept
					
					{%if g.user.User.role in ['admin', 'data']%}
					<input type="radio" name="todb" id ='todb' value="to database"> to database
					{%endif%}
					
					<input type="submit">
				</form></td>
			</tr>
		{%endfor%}
	</table>
{%endif%}