{% for mess in get_flashed_messages() %}
<div id="message"> {{mess}} </div>
{%endfor%}
<script>
    setTimeout(() => {
    const box = document.getElementById('message');
    box.style.display = 'none';
    }, 3000);
</script>


{%if recives%}
<h3>RECIVE FILES</h3>
	<table id = "recieve-file">
		<thead>
			<tr>
				<th>Người Upload File</th>
				<th>Người Quản Lý</th>
				<th>Tên File</th>
				<th>Trạng Thái</th>
				<th>Option</th>
			</tr>
		</thead>
		<tbody>
		{%for data in recives%}
			<tr>
				<td>{{data.uploader}}</td>
				<td>{{data.reviewer}}</td>
				<td>{{data.wellid}}</td>
				<td>{{data.status}}</td>
				<td><form method="POST">
					{%if g.user.User.role in ['review','admin','data']%}
						<input name="choose" type="radio" value="review" /> review
						<input name="choose" type="radio" value="reject" /> reject
						<input name="choose" type="radio" value="accept" /> accept	
						<input name="upload" type="hidden" value="{{data.uploader}}">
						<input name="wellid" type="hidden" value="{{data.wellid}}">		
						<input type="submit">
					{%endif%}
					</form>
				</td>
			</tr>
		{%endfor%}
		</tbody>
	</table>
{%endif%}